{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/compass-sea.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">My journeys.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
            I'm Delphine, I come from France and have moved to Edinburgh in 2010.<br>
            2019 is a year that marked a change for me. 
            I used to think my career was the most important thing. 
            After some issues with my mental health, I decided to focus 
            on what made me happy to live a healthier and more fulfilled life.<br>
            I spent more time travelling especially sailing around Scotland. I changed career to have a better work life balance.<br>
            These blog posts are about my journey, my passions and my travels. 
            How keeping true to myself has led me to live a happier life.
        </p>
        <p>
            I would love to hear from you and your journeys. If you would like to 
            get in touch, please fill in the form below to contact me.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
