{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/robot.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Data Blog Posts</h1>
          <span class="subheading">Exciting project I have been able to work on in data.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- Holiday journal preview -->
        {% for blog in blog_posts %}
        <div class="journal-preview">
            <h2 class="journal-title">{{ blog.title }}</h2>
            <h3 class="journal-descritpion">{{ blog.description }}</h3>
            </a>
            <p class="post-meta">
            Posted by
            on {{blog.date}}
            </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        {% endfor %}
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
